[Unit]
Description=ECE434 Player Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/debian/ECE434-Music/runner.sh

[Install]
WantedBy=multi-user.target
